function Main.main 1
    call BasketGame.new 0
    pop local 0
    push local 0
    call BasketGame.run 1
    pop temp 0
    push local 0
    call BasketGame.dispose 1
    pop temp 0
    push constant 0
    return